@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

$font-sm: 16px;
$font-md: 21px;
$font-lg: 34px;

* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

body {
  background-color: black;
}

.header {
  z-index: 2;
  height: 78px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  padding: 0 2%;
  border-bottom: 1px solid rgb(32, 32, 32);
  display: flex;
  align-items: center;
  .header__left {
    flex: 0.3;
    display: flex;
    align-items: center;

    a {
      img {
        width: 50px;
        height: 50px;
        transition: 500ms;

        &:hover {
          transform: rotate(-90deg);
        }
      }
    }
  }

  .header__right {
    flex: 0.7;
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-image: url('./src/ACCode-1080p-background.jpg.png');
  background-position: center;
  h1 {
    font-size: 90px;
    text-align: center;
  }

  .callToAction {
    width: 30%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 120px;
      outline: none;
      margin-right: 20px;
      margin-top: 20px;

      cursor: pointer;
      transition: 300ms;
      text-decoration: none;
    }

    a:hover {
      transform: translateY(-5px);
    }

    .workingOn {
      background-color: black;
    }

    .gitHub {
      background-color: rgb(54, 54, 54);
    }
  }
}

.main {
  .spotlight {
    padding: 0 2%;
    margin-bottom: 50px;
  }

  .projects__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

    font-size: 25px;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 30px;

    .project {
      display: flex;
      flex-direction: column;
      background-position: center;
      background-size: cover;
      width: 700px;
      height: 403px;
      margin-right: 30px;
      margin-bottom: 30px;
      transition: 300ms;
      border: 1px solid rgb(47, 47, 47);

      &:hover {
        transform: translateY(-10px);
      }

      .project__information {
        opacity: 0;
        height: 100%;
        transition: 500ms;
        background-color: black;
        color: white;

        &:hover {
          opacity: 1;
        }
        .project__title {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 20%;
        }

        .project__desc {
          height: 60%;
          color: rgb(197, 197, 197);
          padding: 0 20px;
        }

        .project__links {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          height: 20%;
        }
      }
    }
  }
}

.spotlightTitle {
  height: 1000px;
  margin-bottom: 30px;
  font-size: 80px;

  padding: 8vh 2% 0 2%;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 31%,
    rgba(15, 78, 87, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 31%,
    rgba(15, 78, 87, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 31%,
    rgba(15, 78, 87, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0f4e57",GradientType=1);

  h1 {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Cookie', cursive;
    font-weight: 100;
  }
}

.spotlightMain {
  p,
  h3 {
    background-color: rgba(0, 0, 0, 0);
  }

  .nextSteps {
    padding: 0 2%;
    padding-bottom: 30px;
    p {
      color: white;
    }
    .tech {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24%;
      height: 60px;
      background-color: rgb(22, 22, 22);
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      text-align: center;

      img {
        width: 25px;
        margin-left: 10px;
      }
    }

    .nextSteps__title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }
    .stepContainer {
      display: flex;
      flex-wrap: wrap;

      .step {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24%;
        height: 60px;
        background-color: rgb(22, 22, 22);
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: center;
      }
    }
  }

  p {
    color: rgb(194, 194, 194);
    line-height: 2;
  }

  .comparisonWriting {
    padding: 0 2%;
    margin-bottom: 20px;

    h3 {
      font-size: 40px;
      margin-bottom: 10px;
    }
  }
}

.informationContainer {
  display: flex;
  padding: 25px 0px;
  border-bottom: 1px solid rgb(31, 31, 31);

  .informationContainer__links {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    a {
      text-decoration: none;

      .informationContainer__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        border: 1px solid white;
        transition: 300ms;
        margin-right: 10px;
        margin-top: 10px;

        &:hover {
          opacity: 0.7;
        }
      }

      .caseStudy {
        border: 2px solid green;
      }
    }
  }

  .informationContainer__left {
    flex: 1;
    padding: 2%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .informationContainer__right {
    flex: 1;
    padding: 2%;

    .informationContainer__title {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
      line-height: 1;
    }

    .informationContainer__desc {
      color: rgb(158, 158, 158);
    }
  }
}

@media only screen and (max-width: 1200px) {
  .spotlightTitle {
    text-align: center;
    font-size: 40px !important;
    height: 500px;
  }
}

@media only screen and (max-width: 1100px) {
  .project {
    margin: 5px 5px 30px 5px !important;
    width: 350px !important;
    height: 203px !important;
  }
  .spotlightTitle {
    font-size: $font-md;
  }
  .project__desc {
    font-size: 13px;
  }

  .project__title {
    font-size: 16px;
  }

  .callToAction {
    width: 90% !important;
  }

  .informationContainer {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .informationContainer__left {
    padding: 0% 2% !important;
  }

  .comparisonContainer {
    flex-direction: column;
  }

  .step {
    width: 47% !important;
    padding: 0 2%;
    p {
      font-size: 12px;
    }
  }

  .tech {
    width: 47% !important;
    padding: 0 2%;
    p {
      font-size: 12px;
    }
    img {
      width: 20px !important;
    }
  }

  .informationContainer__title {
    margin-top: 5px;
  }

  .hero {
    h1 {
      font-size: 3em;
    }
  }
}

@media only screen and (max-width: 500px) {
  .comparisonWriting {
    padding: 0 2%;
    padding-bottom: 50px;

    h3 {
      font-size: $font-md !important;
      margin-bottom: 10px;
    }

    p {
      font-size: $font-sm !important;
    }
  }

  .informationContainer__title {
    font-size: $font-md !important;
  }

  .nextSteps__title {
    font-size: $font-md !important;
  }
  .hero {
    padding-top: 8vh;
    .callToAction {
      flex-direction: column;
    }
  }
}
