@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1d2831;
}

.menu {
  -webkit-animation: 500ms fade-in ease-in-out;
          animation: 500ms fade-in ease-in-out;
  position: fixed;
  display: none;
  padding: 80px 50px 0 50px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #141414;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.menu .menu__item {
  color: whitesmoke;
  font-size: 130px;
  letter-spacing: 40px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.menu .menu__item:hover {
  cursor: pointer;
  margin-right: 20px;
  color: teal;
}

.navbar {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 3vw;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}

.navbar .logo {
  width: 40px;
  height: 40px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .logo:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.5;
  cursor: pointer;
}

.navbar .menu-icon {
  width: 30px;
  height: 30px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.navbar .menu-icon:hover {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.5;
  cursor: pointer;
}

.homePage {
  -webkit-animation: 500ms fade-in-left ease-in-out;
          animation: 500ms fade-in-left ease-in-out;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  color: whitesmoke;
  text-align: center;
}

.homePage .homePage__title {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 160px;
}

.homePage .homePage__subTitle {
  font-size: 50px;
}

.homePage .button__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homePage .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  width: 130px;
  font-size: 20px;
  border: 1px solid white;
  padding: 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.homePage .btn:hover {
  opacity: 0.2;
  cursor: pointer;
}

.homePage a {
  text-decoration: none;
  color: white;
}

.technologies__container {
  display: none;
  -webkit-animation: fade-in 300ms ease-in-out;
          animation: fade-in 300ms ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  position: fixed;
  width: 110px;
  left: 0;
  top: 8vh;
  z-index: 3;
}

.technologies__container .grey-scale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  height: 50px;
  margin-bottom: 30px;
}

.technologies__container img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 50px;
  margin-bottom: 30px;
}

.projectsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 500ms fade-in-left ease-in-out;
          animation: 500ms fade-in-left ease-in-out;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: whitesmoke;
}

.projectsPage .project__title {
  font-size: 40px;
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.projectsPage .project__paragraph {
  padding: 20px 0px;
  line-height: 30px;
  letter-spacing: 1px;
}

.projectsPage .project__container {
  background-color: blue;
  height: 500px;
}

.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

.blog__container .blog__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 300px;
  color: white;
  padding: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.116);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.blog__container .blog__small:hover {
  cursor: pointer;
  opacity: 0.7;
}

.blog__container .blog__small .blog__smallTitle {
  font-size: 24px;
}

.blog__container .blog__small .blog__smallDate {
  margin-bottom: 10px;
}

.blog {
  -webkit-animation: fade-in 300ms ease-in-out;
          animation: fade-in 300ms ease-in-out;
  z-index: 1;
  display: none;
  background: #141414e8;
  padding: 100px 20vw 0 20vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  color: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.blog .blog__date {
  color: #8a8a8a;
  font-size: 20px;
  font-style: italic;
}

.blog .blog__header {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog__header .blog__close {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  border: 1px solid white;
  width: 80px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.blog .blog__header .blog__close:hover {
  opacity: 0.2;
}

.blog .blog__text {
  opacity: 0.8;
  padding: 20px 0 20px 0;
  line-height: 30px;
  letter-spacing: 1px;
}

.blog .blog__main {
  padding: 0 50px;
  padding-bottom: 50px;
}

.blog .blog__img {
  width: 500px;
}

.full-page {
  padding: 0 3vw;
  height: 100vh;
}

.full-page::-webkit-scrollbar {
  width: 1px;
}

.full-page::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.blog::-webkit-scrollbar {
  width: 1px;
}

.blog::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.projectsPage::-webkit-scrollbar {
  width: 1px;
}

.projectsPage::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.page__title {
  color: whitesmoke;
  font-size: 160px;
  padding-top: 100px;
}

.display-off {
  display: none;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    height: 50px;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    height: 50px;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.informationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  line-height: 30px;
  letter-spacing: 1px;
}

.informationContainer .informationContainer__technologies {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.informationContainer .informationContainer__technologies .informationContainer__techs {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  width: 100px;
  border-radius: 25px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.informationContainer .informationContainer__technologies .informationContainer__techs p {
  color: white;
}

.informationContainer .informationContainer__links {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.informationContainer .informationContainer__links a {
  text-decoration: none;
  color: whitesmoke;
}

.informationContainer .informationContainer__links a .informationContainer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 40px;
  border: 1px solid whitesmoke;
  -webkit-transition: 300ms;
  transition: 300ms;
  margin-right: 10px;
  margin-top: 10px;
}

.informationContainer .informationContainer__links a .informationContainer__link:hover {
  opacity: 0.7;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.informationContainer .informationContainer__links a .caseStudy {
  color: white;
  background-color: #017488;
  border: none;
}

.informationContainer .informationContainer__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
}

.informationContainer .informationContainer__left img {
  width: 100%;
  height: 100%;
}

.informationContainer .informationContainer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2%;
  color: whitesmoke;
}

.informationContainer .informationContainer__right .informationContainer__title {
  font-size: 30px;
}

.informationContainer .informationContainer__right .informationContainer__desc {
  padding: 10px 0;
  opacity: 0.8;
}

@media only screen and (max-width: 950px) {
  .homePage__title {
    font-size: 70px !important;
  }
  .homePage__subTitle {
    margin-top: 20px;
    font-size: 24px !important;
  }
  .button__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button__container .btn {
    height: 50px;
    font-size: 20px !important;
  }
  .menu {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .menu__item {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
  }
  .projects__button {
    width: 200px !important;
    font-size: 10px !important;
  }
  .technologies__container .grey-scale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 30px;
    margin-right: 15px;
  }
  .technologies__container img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 30px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  .informationContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 950px) {
  .blog {
    padding: 100px 0 0 0;
  }
  .page__title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 650px) {
  .blog__img {
    width: 100% !important;
  }
}

@media only screen and (max-width: 450px) {
  .homePage__title {
    font-size: 50px !important;
  }
  .blog__close {
    margin: 0 !important;
    margin-bottom: 10px !important;
  }
  .blog__title {
    font-size: 30px !important;
    margin-bottom: 10px;
  }
  .blog__date {
    font-size: 14px !important;
  }
  .blog__small {
    width: 100% !important;
  }
}
/*# sourceMappingURL=index.css.map */